<form action="/form" method="post">
    <h1>Mi formulario</h1>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" required>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" id="apellido" required>
    <button type="submit">Enviar</button>
</form>